#title h1 {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
    font-family: 'Noto Serif JP', serif;
}
#Beny {
    font-family: 'Bilbo Swash Caps', cursive;
    font-size: 60px;
}
.effect {
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}